/* 

SEE COMMENTS LINE 21, 36, 62, 78

*/

:root {
  --main-bg-color: rgb(121, 121, 121);
  --body-font-size: 30px;
  
  --body-color: rgb(219, 20, 20);
  
}


#titleFont {
  text-shadow: 0px 0px 5px rgb(236, 237, 242);

  font-size: 100px;
 
/*   font-family: New Rocker;  <--------- CHANGE THIS TO WHATEVER FONT YOU WANT */
  color: rgb(2, 5, 24);
  margin-bottom: 5px;
  margin-top: 0.1em;
}

.topName {
  font-size: 60px;
  border: none;
  border-style: none;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 2rem;
  display: inline-block;
/*   font-family: Goldman; <--------- CHANGE THIS TO WHATEVER FONT YOU WANT */
  color: black;
}

body {
  background-color: rgb(83, 83, 83);
  font-size: var(--body-font-size);
  color: var(--body-color);
  text-align: center;
  padding: 0, 0, 0, 0;
  margin-top: 0em;
  margin-bottom: 0em;
 
}

#output {

  width: 75%;
  margin: auto;
  margin-top: 1em;
  background-color: rgb(0, 0, 0);
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0 0 0.23em 1px rgb(239, 239, 243);
  padding-bottom: 5em;
  color: rgb(19, 18, 18);
  /*   font-family: Goldman; <--------- CHANGE THIS TO WHATEVER FONT YOU WANT */
}

p {
  margin: 0;
}

#contianerOne {
  display: flex;
  justify-content: center;
}

.sortButtons {
  block-size: 3.5em;
  padding: 0.45em;
  margin: 1em;
/*   font-family: Goldman; <--------- CHANGE THIS TO WHATEVER FONT YOU WANT */
  font-size: 0.75em;
  background-color: rgb(128, 129, 128);
}

.active-button {
  background-color: green;
}

